<div class="col-md-3 mx-auto">
  <h2>User info</h2>
  <% if @user.errors.any? %>
    <%= @user.errors.count %>errors</br>
    <% @user.errors.full_messages.each do |message| %>
      <%= message %></br>
    <% end %>
  <% end %>
  <%= form_with model: @user, local:true do |f| %>
    <label for="inputName">Name</label></br>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前" %></br>
    <label for="inputImage">Image</label>
    <%= f.attachment_field :profile_image, placeholder: "Image" %></br>
    <label for="inputIntroduction">Introduction</label></br>
    <%= f.text_area :introduction, autofocus: true %></br>
    <%= f.submit 'Update User', class: "btn btn-secondary w-30" %>
  <% end %>
</div>