<div class="row">
  <div class="col-md-3 m-4">
    <%= render 'books/info', user: @user %>
    <%= render 'books/newbook', book: @book %>
  </div>
  <!--Books部分-->
  <div class="col-md-7 m-4">
    <h2>Books</h2>
    <table class="table">
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
      <% @books.each do |book| %>
        <tr>
          <th>
            <%= link_to user_path(book.user_id) do %>
              <%= attachment_image_tag book.user, :profile_image_id, :fill, 5, 5, fallback: "no_image.jpg" %></th>
            <% end %>
          <th>
            <%= link_to book_path(book.id) do %>
              <%= book.title %>
            <% end %>
          </th>
          <th><%= book.body %></th>
        </tr>
      <% end %>
    </table>
  </div>
</div>